/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

.App {
  background-image: url("path/to/https://s1.ax1x.com/2023/08/20/pP8GkCj.png");
  background-size: cover;
  background-position: center;
}
